body {
  background-color: #292C35;
}

.colorTextInp {
  color:  #83B0C1;
}

.contentOptions {
  padding-top: 30px;
  border: 2px solid #83B0C1;
  text-align: center;
  width: 300px;
  height: 300px;
  border-radius: 10px;

}

.contentCounter {
  padding-top: 30px;
  text-align: center;
  margin: 0 auto;
  border: 2px solid #83B0C1;
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.App {
  align-self: center;
  justify-content: center;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding-top: 250px;
  color:  #83B0C1;

}